<article>
    <div id="main-box">
        <a href="tel:987-654-3210">
            <h1>(987) 654-3210</h1>
        </a>
        <div id="email">
            <h2>Click to email us at:</h2>
            <a href="mailto:luxury_rentals@gmail.com">luxury_rentals@gmail.com</a>
        </div>
        <h3>Visit us or view any of our below locations.</h3>
    </div>
</article>

<div id="location-cut">
    <h3>--- Locations ---</h3>
</div>

<div id="locations">
    <div class="location-box" id="charlotte">
        <footer>Charlotte</footer>
    </div>
    <div class="location-box" id="nyc">
        <footer>New York</footer>
    </div>
    <div class="location-box" id="san-francisco">
        <footer>San Francisco</footer>
    </div>
    <div class="location-box" id="chicago">
        <footer>Chicago</footer>
    </div>
</div>