<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Luxury Rentals | Contact Us</title>
    <link rel="stylesheet" href="/css/contact.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Italiana&display=swap" rel="stylesheet">
    <link rel="icon" type="image/png" href="/assets/favicon.png">
</head>

<body>
    <div>
        <nav id="main-nav">
            <div id="logo-center">
                <a id="lux-txt" href="/">Luxury Rentals</a>
            </div>
            <div class="nav-right top-nav">
                <a href="/">Home</a>
                <a href="/rentals">Rentals</a>
                <a id="highlight" href="/contact">Contact</a>
                {{#if logged_in}}
                <div class="dropdown">
                    <a id="account" href="/account">Account ↓</a>
                    <div class="dropdown-content">
                        <a class="logout" href="">Logout</a>
                    </div>
                </div> {{else}}
                <a href="/login">Login</a>
                {{/if}}
                <a href="/book-now"><button class="book-now-btn nav-btn">Book Now</button></a>
            </div>
        </nav>
        <div id="container"></div>
    </div>

    <article>
        <div id="main-box">
            <a href="tel:987-654-3210">
                <h1>(987) 654-3210</h1>
            </a>
            <div id="email">
                <h2>Click to email us at:</h2>
                <a href="mailto:luxury_rentals@gmail.com">luxury_rentals@gmail.com</a>
            </div>
            <h3>Visit us or view any of our below locations.</h3>
        </div>
    </article>

    <div id="location-cut">
        <h3>--- Locations ---</h3>
    </div>

    <div id="locations">
        <div class="location-box" id="charlotte">
            <footer>Charlotte</footer>
        </div>
        <div class="location-box" id="nyc">
            <footer>New York</footer>
        </div>
        <div class="location-box" id="san-francisco">
            <footer>San Francisco</footer>
        </div>
        <div class="location-box" id="chicago">
            <footer>Chicago</footer>
        </div>
    </div>

    <footer id="bottom-footer">
        <a id="h6" href="/">Luxury Rentals*</a>
        <div class="nav-right bootom-nav">
            <a href="/rentals">Rentals</a>
            <a href="/contact">Contact</a>
            {{#if logged_in}}
            <a class="logout" href="">Logout</a>
            {{else}}
            <a href="/login">Login</a>
            {{/if}}
        </div>
    </footer>

    {{#if logged_in}}
    <script src="/js/logout.js"></script>
    {{/if}}
</body>