

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Luxury Rentals</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Italiana&display=swap" rel="stylesheet">
</head>

<body>
    <div id="container">
        <nav id="main-nav">
            <div id="logo-center">
                <a id="lux-txt" href="/">Luxury Rentals</a>
            </div>
            <div class="nav-right top-nav">
                <a id="highlight" href="/">Home</a>
                <a href="/rentals">Rentals</a>
                <a href="/contact">Contact</a>
                <a href="/login">Login</a>
                <a href="/book-now"><button class="book-now-btn nav-btn">Book Now</button></a>
            </div>
        </nav>
        <div id="advert">
            <h1>Book Today : Starting at $250</h1>
            <a href="/book-now"><button class="book-now-btn advert-btn">Book Now</button></a>
        </div>
    </div>

    <div id="about">
        <div>
            <img id="about-img" src="/assets/fall-abt.jpg" alt="red super car">
        </div>
        <div id="about-txt">
            <h2>Feel & Experience the Awesome</h2>
            <p>
                Here we have a passion for luxury and performance vehicles. It's hard not to love the reactions
                recieved by driving an exotic gorgous sports car. And when someone rents one, they get to feel the rush
                of being behind the wheel of a beautiful car that turns heads around every corner. There’s something to
                be said about the sense of confidence, happiness, and power you can get from something as simple as
                spending the day in a $100k+ car. Now we here at Luxury Rentals get to share that on a much larger scale
                and make new friends like you. We hope to meet you soon!
            </p>
        </div>
    </div>

    <div id="location-cut">
        <h3>--- Locations ---</h3>
    </div>

    <div id="locations">
        <a href="/location/1">
            <div class="location-box" id="charlotte">
                <footer>Charlotte</footer>
            </div>
        </a>
        <a href="/location/2">
            <div class="location-box" id="nyc">
                <footer>New York</footer>
            </div>
        </a>
        <a href="/location/3">
            <div class="location-box" id="san-francisco">
                <footer>San Francisco</footer>
            </div>
        </a>
        <a href="/location/4">
            <div class="location-box" id="chicago">
                <footer>Chicago</footer>
            </div>
        </a>
    </div>

    <div id="callnow">
        <h4 class="callnow-content">The Time of Your Life</h4>
        <p class="callnow-content">We know that the difference is in the details, and you'll feel every inch of it in
            one of our beautiful
            cars. Don't miss out on your chance to experience the awesome!</p>
        <h5 class="callnow-content">Call Now (987) 654-3210</h5>
        <a href="/book-now"><button class="book-now-btn callnow-btn callnow-content">Book Now</button></a>
    </div>

    <footer id="bottom-footer">
        <h6>Luxury Rentals*</h6>
        <div class="nav-right bootom-nav">
            <a href="/rentals">Rentals</a>
            <a href="/contact">Contact</a>
            <a href="/login">Login</a>
        </div>
    </footer>
</body>

