<div id="container">
    <h2>
        {{location.name}}
    </h2>
    <iframe src="{{location.embed}}" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
    <ol id="all-cars">
        {{#each location.cars as |car|}}
           {{> car-details}}
        {{/each}}
    </ol>       
</div>
