


<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Luxury Rentals</title>
    <link rel="stylesheet" href="/css/location.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Italiana&display=swap" rel="stylesheet">
</head>

<body>
    <div id="container">
        <h2>
            {{location.name}}
        </h2>
        <iframe src="{{location.embed}}" width="600" height="450" style="border:0;" allowfullscreen=""
            loading="lazy"></iframe>
        <ol id="all-cars">
            {{#each location.cars as |car|}}
            {{> car-details}}
            {{/each}}
        </ol>
    </div>

    <footer id="bottom-footer">
        <h6>Luxury Rentals*</h6>
        <div class="nav-right bootom-nav">
            <a href="/rentals">Rentals</a>
            <a href="/contact">Contact</a>
            <a href="/login">Login</a>
        </div>
    </footer>

</body>