<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Luxury Rentals | Login</title>
    <link rel="stylesheet" href="/css/login.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Italiana&display=swap" rel="stylesheet">
    <link rel="icon" type="image/png" href="/assets/favicon.png">
</head>

<body>
    <div id="container">
        <nav id="main-nav">
            <a id="lux-txt" href="/">Luxury Rentals</a>
            <div class="nav-right top-nav">
                <a href="/">Home</a>
                <a href="/rentals">Rentals</a>
                <a href="/contact">Contact</a>
                <a id="highlight" href="/login">Login</a>
                <a href="/book-now"><button class="book-now-btn nav-btn">Book Now</button></a>
            </div>
        </nav>
    </div>

    <article>
        <div id="main-box">
            <h1>Create an account or login for the ride of your life!</h1>
            <div id="input-format">
                <form id="login">
                    <input class="login-width" id="login-value" type="text" placeholder="username">
                    <input class="login-width" id="login-pw" type="text" placeholder="password">
                    <input id="login-btn" type="submit" value="Login">
                </form>

                <form id="signup">
                    <input class="signup-width" id="signup-value" type="text" placeholder="create a username">
                    <input class="signup-width" id="signup-pw" type="text" placeholder="create a password">
                    <input id="signup-btn" type="submit" value="Sign Up">
                </form>
            </div>
        </div>
    </article>

    <footer id="bottom-footer">
        <h2>Luxury Rentals*</h2>
        <div class="nav-right bootom-nav">
            <a href="/rentals">Rentals</a>
            <a href="/contact">Contact</a>
            <a href="/login">Login</a>
        </div>
    </footer>

    <script src="/js/login.js"></script>
</body>
