<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Luxury Rentals | Rentals</title>
    <link rel="stylesheet" href="/css/rentals.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Italiana&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Antonio:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap" rel="stylesheet">
    <link rel="icon" type="image/png" href="/assets/favicon.png">
</head>

<body>
    <div>
        <nav id="main-nav">
            <div id="logo-center">
                <a id="lux-txt" href="/">Luxury Rentals</a>
            </div>
            <div class="nav-right top-nav">
                <a href="/">Home</a>
                <a id="highlight" href="/rentals">Rentals</a>
                <a href="/contact">Contact</a>
                {{#if logged_in}}
                <div class="dropdown">
                    <a id="account" href="/account">Account <span class="down-icon3"><i
                                class="fas fa-chevron-down"></i></span></a>
                    <div class="dropdown-content">
                        <a class="logout" href="">Logout</a>
                    </div>
                </div> {{else}}
                <a href="/login">Login</a>
                {{/if}}
                <a href="/book-now/0/0"><button class="book-now-btn nav-btn">Book Now</button></a>
            </div>
        </nav>
    </div>

    <div id="header"></div>

    <a href="#" id="up-arrow"><i class="fas fa-chevron-up"></i></a>

    <div id="locations">
        <a href="/rentals/1">
            <div class="location-box" id="charlotte">
                <footer>Charlotte</footer>
            </div>
        </a>
        <a href="/rentals/2">
            <div class="location-box" id="nyc">
                <footer>New York</footer>
            </div>
        </a>
        <a href="/rentals/3">
            <div class="location-box" id="san-francisco">
                <footer>San Francisco</footer>
            </div>
        </a>
        <a href="/rentals/4">
            <div class="location-box" id="chicago">
                <footer>Chicago</footer>
            </div>
        </a>
    </div>

    {{#if location}}
    <div id="contact-and-map">
        <div id="main-box">
            <div id="left">
                <div id="featured-car">
                    {{> featured-car}}
                </div>
            </div>
            <div id="right">
                <div id="map">
                    <iframe src="{{location.embed}}" width="490" height="375" allowfullscreen=""
                        loading="lazy"></iframe>
                </div>
            </div>
        </div>
    </div>
    {{/if}}

    <div id="container">
        <ol id="all-cars">
            {{#if location}}
            {{#each location.cars as |car|}}
            {{> car-details}}
            {{/each}}
            {{else}}
            {{#each cars as |car|}}
            {{> car-details}}
            {{/each}}
            {{/if}}
        </ol>
    </div>

    <footer id="bottom-footer">
        <a id="h6" href="/">Luxury Rentals*</a>
        <div class="nav-right bootom-nav">
            <a href="/rentals">Rentals</a>
            <a href="/contact">Contact</a>
            {{#if logged_in}}
            <a class="logout" href="">Logout</a>
            {{else}}
            <a href="/login">Login</a>
            {{/if}}
        </div>
    </footer>

    {{#if logged_in}}
    <script src="/js/logout.js"></script>
    {{/if}}
    <script src="/js/rentals.js"></script>
    <script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
    <script src="/js/hover.js"></script>
</body>