* {
    margin: 0px;
    padding: 0px;
    text-decoration: none;
}

body {
    background: url(../assets/whitebg.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: 'Montserrat', sans-serif;
}

#container {
    background: url(../assets/call.jpg) no-repeat;
    background-size: 100%;
    height: 38vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#main-nav {
    height: 115px;
    background-image: url(../assets/black-bg.jpg);
    color: #fff;
    width: 100%;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#highlight {
    color: rgb(255, 66, 66);
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #1d1d1dde;
    width: 115px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 100;
    border-radius: 5px;
}

.dropdown-content a {
    color: #fff;
    text-decoration: none;
    line-height: 60px;
    margin-left: 15px;
}

.dropdown-content a:hover {
    color: red;
}

.dropdown:hover .dropdown-content {
    display: block;
    height: 60px;
}

#lux-txt {
    color: #fff;
    font-size: 58px;
    margin: 0px 0px 0px 75px;
    font-family: 'Italiana', serif;
    float: left;
}

.nav-right {
    float: right;
    color: white;
    margin-right: 60px;
    font-size: 20px;
}

.nav-right a {
    margin-right: 60px;
    color: rgb(168, 168, 168);
}

.nav-right a:hover {
    color: #fff;
    transition: 0.25s;
}

.nav-btn {
    border: 1px solid rgb(110, 110, 110);
    background: rgba(0, 0, 0, 0.658);
    color: #fff;
}

.nav-btn:after {
    background: rgb(255, 255, 255);
    opacity: 35%;
    width: 40px;
}

.book-now-btn {
    border-radius: 25px;
    padding: 12px 30px 12px 30px;
    font-size: 22px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
}

.nav-btn:hover {
    box-shadow: 0px 0px 6px 0.1px rgba(165, 165, 165, 0.4);
}

.book-now-btn:after {
    content: '';
    display: block;
    position: absolute;
    top: -36px;
    left: -100px;
    height: 125px;
    transform: rotate(45deg);
}

.book-now-btn:hover:after {
    left: 120%;
    transition: all 900ms cubic-bezier(0.3, 1, 0.2, 1);
    -webkit-transition: all 900ms cubic-bezier(0.3, 1, 0.2, 1);
}

article {
    display: flex;
    justify-content: center;
}

#main-box {
    margin: 25px 0px 25px 0px;
    width: 60%;
    height: 275px;
    background-color: rgba(131, 131, 131, 0.75);
    border-radius: 15px;
    text-align: center;
    box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.75);
    padding: 25px;
}

#main-box * {
    margin-bottom: 25px;
}

#main-box h1 {
    font-size: 36px;
    color: black;
}

#main-box h1:hover {
    color: blue;
}

#main-box h2 {
    font-size: 26px;
}

#main-box a, h3 {
    font-size: 36px;
}

#email a:hover {
    text-decoration: underline;
}

#location-cut {
    font-size: 28px;
    text-align: center;
}

#locations {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 0px 50px 0px 50px;
}

#locations footer {
    font-size: 42px;
    color: #fff;
    position: relative;
    top: 300px;
    background-color: rgba(0, 0, 0, 0.75);
    height: 50px;
    width: 100%;
    padding-left: 10px;
}

.location-box {
    width: 300px;
    height: 350px;
    background-color: black;
    margin: 25px 0px 50px 0px;
    border-radius: 15px;
    align-content: flex-end;
    box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.75);
}

.location-box:hover {
    filter: brightness(60%);
    cursor: pointer;
    box-shadow: 5px 5px 10px 3.5px rgba(0, 0, 0, 0.85);
}

#charlotte {
    background-image: url(../assets/charlotte.jpg);
    overflow: hidden;
}

#nyc {
    background-image: url(../assets/nyc.jpg);
    overflow: hidden;
}

#san-francisco {
    background-image: url(../assets/san-francisco.jpg);
    overflow: hidden;
}

#chicago {
    background-image: url(../assets/chicago.jpg);
    overflow: hidden;
}

#bottom-footer {
    height: 75px;
    background-color: black;
    color: #fff;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#h6 {
    line-height: 75px;
    font-size: 28px;
    font-family: 'Italiana', serif;
    position: relative;
    left: 50px;
    color: #fff;
}

.bootom-nav {
    line-height: 75px;
}

@media screen and (max-width: 1400px) {
    #locations {
        width: 100%;
        margin: 0px auto;
    }
}

@media screen and (max-width: 1278px) {
    .nav-right {
        margin-right: 10px;
    }
    .nav-right a {
        margin-right: 20px;
    }
    #locations {
        width: 100%;
        margin: 0px auto;
    }
    .location-box {
        width: 225px;
        height: 275px;
    }
    #locations footer {
        top: 235px;
        font-size: 28px;
    }
}

@media screen and (max-width: 1025px) {
    #main-nav {
        height: 175px;
        top: 0;
    }
    #lux-txt {
        font-size: 38px;
        line-height: 65px;
        margin: 0px 0px 0px 0px;
        font-family: 'Italiana', serif;
        float: none;
    }
    #logo-center {
        display: flex;
        justify-content: center;
    }
    .nav-right {
        display: flex;
        justify-content: space-around;
        float: none;
        margin-right: 0px;    
    }
    .book-now-btn {
        padding: 7px 15px 7px 15px;
    }
    #locations {
        width: 70%;
        margin: 0 auto;
    }
    #locations footer {
        top: 260px;
    }
    .location-box {
        width: 250px;
        height: 300px;
        margin: 0x 5px 5px 5px;
    }
    #container {
        height: 30vh;
    }
}

@media screen and (max-width: 885px) {
    #main-box {
        width: 80%;
    }
}

@media screen and (max-width: 720px) {
    .book-now-btn {
        padding: 6px 12px 6px 12px;
        font-size: 16px;
    }
    #locations {
        width: 75%;
        margin: 0 auto;
    }
    #locations footer {
        top: 210px;
        font-size: 26px;
    }
    .location-box {
        width: 200px;
        height: 250px;
        margin-bottom: 2px;
    }
    #container {
        height: 20vh;
    }
}

@media screen and (max-width: 650px) {
    #main-box {
        height: 215px;
    }
    #main-box h1, h3,
    #email a {
        font-size: 24px;
    }
}

@media screen and (max-width: 560px) {
    
}