* {
    margin: 0px;
    padding: 0px;
    text-decoration: none;
}

body {
    background: url(../assets/whitebg.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: 'Montserrat', sans-serif;
}

#main-nav {
    height: 115px;
    background-image: url(../assets/black-bg.jpg);
    color: #fff;
    position: relative;
    top: 0;
    width: 100%;
    z-index: 100;
}

#highlight {
    color: rgb(255, 66, 66);
}

#lux-txt {
    color: #fff;
    font-size: 58px;
    line-height: 115px;
    margin: 0px 0px 0px 75px;
    font-family: 'Italiana', serif;
}

.nav-right {
    float: right;
    color: white;
    margin-right: 60px;
    font-size: 20px;
}

.top-nav {
    line-height: 115px;
}

.nav-right a {
    margin-right: 60px;
    color: rgb(168, 168, 168);
}

.nav-right a:hover {
    color: #fff;
    transition: 0.25s;
}

.nav-btn {
    border: 1px solid rgb(110, 110, 110);
    background: rgba(0, 0, 0, 0.658);
    color: #fff;
}

.nav-btn:after {
    background: rgb(255, 255, 255);
    opacity: 35%;
    width: 40px;
}

.book-now-btn {
    border-radius: 25px;
    padding: 12px 30px 12px 30px;
    font-size: 22px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
}

.nav-btn:hover {
    box-shadow: 0px 0px 6px 0.1px rgba(165, 165, 165, 0.4);
}

.book-now-btn:after {
    content: '';
    display: block;
    position: absolute;
    top: -36px;
    left: -100px;
    height: 125px;
    transform: rotate(45deg);
}

.book-now-btn:hover:after {
    left: 120%;
    transition: all 900ms cubic-bezier(0.3, 1, 0.2, 1);
    -webkit-transition: all 900ms cubic-bezier(0.3, 1, 0.2, 1);
}

#header {
    background: url(../assets/viper-wallaper.jpg) no-repeat;
    background-size: 100%;
    height: 36vh;
}

/*map*/
#contact-and-map {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}

#main-box {
    width: 75%;
    height: 425px;
    border-radius: 10px;
    box-shadow: 5px 5px 20px 5px rgba(0, 0, 0, 0.6);
    background-color: rgba(131, 131, 131, 0.75);
    display: flex;
}

#left {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

#right {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/****************************************************************/

#locations {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    height: 15vh;
    margin-top: 10px;
}

#locations footer {
    font-size: 36px;
    color: #fff;
    position: relative;
    background-color: rgba(0, 0, 0, 0.55);
    height: 50px;
    width: 100%;
    text-align: center;
}

.location-box {
    width: 300px;
    height: 50px;
    margin: 25px 0px 50px 0px;
    border-radius: 7.5px;
    box-shadow: 3.5px 3.5px 15px 2px rgba(0, 0, 0, 0.75);
}

.location-box:hover {
    filter: brightness(60%);
    cursor: pointer;
    box-shadow: 5px 5px 10px 3.5px rgba(0, 0, 0, 0.85);
}

#charlotte {
    background-image: url(../assets/charlotte.jpg);
    overflow: hidden;
}

#nyc {
    background-image: url(../assets/nyc.jpg);
    overflow: hidden;
}

#san-francisco {
    background-image: url(../assets/san-francisco.jpg);
    overflow: hidden;
}

#chicago {
    background-image: url(../assets/chicago.jpg);
    overflow: hidden;
}

/****************************************************************/

#container {
    padding: 0px 25px 0px 25px;
}

#all-cars {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    list-style-type: none;
    margin: 10px 0px 10px 0px;
}

.card {
    width: 450px;
    height: 380px;
    margin-bottom: 50px;
    border-radius: 5px;
    background-color: #fff;
    background-image: url(../assets/red-grey-bg.jpg);
    box-shadow: 5px 5px 20px 5px rgba(0, 0, 0, 0.9);
}

.card:hover {
    box-shadow: 10px 10px 20px 5px rgba(0, 0, 0, 0.8);
    /* add a layer over the image with cool text? */
}

.card img {
    width: 450px;
    height: 253px;
    overflow: hidden;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom: 1px solid black;
    cursor: pointer;
}

.card img:hover {
    filter: brightness(70%);
}

.card h1 {
    padding-left: 15px;
    font-family: 'Antonio', sans-serif;
}

.name-year {
    font-size: 32px;
    padding: 15px 0px 0px 0px;
    display: flex;
    justify-content: space-around;
}

.name-year button {
    font-size: 26px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid black;
    padding: 5px 20px 5px 20px;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
}

.name-year button:hover {
    cursor: pointer;
    background-color: rgb(197, 15, 15);
    color: #fff;
    box-shadow: 4px 4px 8px 2px rgba(0, 0, 0, 0.8);
}

#bottom-footer {
    height: 75px;
    background-color: black;
    color: #fff;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

#bottom-footer h6 {
    line-height: 75px;
    font-size: 28px;
    font-family: 'Italiana', serif;
    position: relative;
    left: 50px;
}

.bootom-nav {
    line-height: 75px;
}

@media screen and (max-width: 1400px) {
    #container {
        height: 85vh
    }
    #all-cars {
        justify-content: space-around;
    }
    .card {
        width: 380px;
        height: 340px;
    }
    .card img {
        width: 380px;
        height: 220px;
    }
}

@media screen and (max-width: 1278px) {
    .nav-right {
        margin-right: 10px;
    }
    .nav-right a {
        margin-right: 20px;
    }
    #container {
        height: 75vh;
    }
    .location-box {
        width: 250px;
    }
    #locations footer {
        font-size: 28px;
        padding-top: 7.5px;
    }
    #all-cars {
        justify-content: space-around;
    }
    .card {
        width: 380px;
        height: 320px;
    }
    .card img {
        width: 380px;
        height: 215px;
    }
}

@media screen and (max-width: 1125px) {
    #header {
        height: 30vh;
    }
    #main-nav {
        height: 175px;
    }
    #lux-txt {
        font-size: 38px;
        line-height: 65px;
        /* margin: 0px auto;
        text-align: center;
        float: none; */
        margin-left: 36%;
    }
    .nav-right {
        display: flex;
        justify-content: space-around;
        float: none;
        margin-right: 0px;    
    }
    #featured-car {
        display: none;
    }
    #left {
        width: 0%;
    }
    #right {
        width: 100%;
    }
}

@media screen and (max-width: 1020px) {
    #locations {
        width: 70%;
        margin: 0px auto;
        margin-bottom: 20px;
    }
    .location-box {
        margin: 5px 0px 5px 0px;
    }
    #main-box {
        margin-top: 20px;
    }
}

@media screen and (max-width: 885px) {
    #header {
        height: 30vh;
    }
    .card {
        width: 340px;
        height: 280px;
    }
    .card img {
        width: 340px;
        height: 200px;
    }
    .card h1 {
        font-size: 24px;
    }
    .name-year {
        font-size: 24px;
        padding-top: 5px;
    }
    .name-year button {
        font-size: 18px;
        padding: 6px;
        margin-top: -5px;
    }
}

@media screen and (max-width: 770px) {
    .book-now-btn {
        padding: 6px 12px 6px 12px;
        font-size: 16px;
    }
    #container {
        margin-top: 50px;
        height: 40vh;
    }
   #locations {
       width: 100%;
   }
}

@media screen and (max-width: 560px) {
    /* Collapse nav into hamburger */
    /* adjust main pic*/
    #container {
        margin-top: 150px;
    }
}