* {
    margin: 0px;
    padding: 0px;
    text-decoration: none;
}

body {
    background: url(../assets/whitebg.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: 'Montserrat', sans-serif;
}

#container {
    background: url(../assets/lambo-1.jpg) no-repeat;
    background-size: 100%;
    height: 100vh;
    color: #fff;
}

#main-nav {
    height: 115px;
    background-image: url(../assets/black-bg.jpg);
    color: #fff;
    width: 100%;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#lux-txt {
    color: #fff;
    font-size: 58px;
    margin: 0px 0px 0px 75px;
    font-family: 'Italiana', serif;
    float: left;
}

.nav-right {
    float: right;
    color: white;
    margin-right: 60px;
    font-size: 20px;
}

.nav-right a {
    margin-right: 60px;
    color: rgb(168, 168, 168);
}

.nav-right a:hover {
    color: #fff;
    transition: 0.25s;
}

#highlight {
    color: rgb(255, 66, 66);
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #1d1d1dde;
    width: 115px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 100;
    border-radius: 5px;
}

.dropdown-content a {
    color: #fff;
    text-decoration: none;
    line-height: 60px;
    margin-left: 15px;
}

.down-icon3 {
    font-size: 16px;
}

.dropdown-content a:hover {
    color: red;
}

.dropdown:hover .dropdown-content {
    display: block;
    height: 60px;
}

.nav-btn {
    border: 1px solid rgb(110, 110, 110);
    background: rgba(0, 0, 0, 0.658);
    color: #fff;
}

.nav-btn:after {
    background: rgb(255, 255, 255);
    opacity: 35%;
    width: 40px;
}

.book-now-btn {
    border-radius: 25px;
    padding: 12px 30px 12px 30px;
    font-size: 22px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
}

.nav-btn:hover {
    box-shadow: 0px 0px 6px 0.1px rgba(165, 165, 165, 0.4);
}

.book-now-btn:after {
    content: '';
    display: block;
    position: absolute;
    top: -36px;
    left: -100px;
    height: 125px;
    transform: rotate(45deg);
}

.book-now-btn:hover:after {
    left: 120%;
    transition: all 900ms cubic-bezier(0.3, 1, 0.2, 1);
    -webkit-transition: all 900ms cubic-bezier(0.3, 1, 0.2, 1);
}

#advert {
    font-size: 20px;
    position: relative;
    top: 350px;
    left: 75px;
    width: 325px;
}

.advert-btn {
    margin-top: 10px;
    background-color: #fff;
    color: black;
    border: 1px solid rgb(0, 0, 0);
}

.advert-btn:hover {
    box-shadow: 0px 0px 6px 0.1px rgba(255, 0, 0, 0.85);
}

.advert-btn:after {
    background: rgba(0, 0, 0, 0.75);
    opacity: 99%;
    width: 35px;
}

#about {
    display: flex;
    justify-content: space-around;
    /* flex-wrap: wrap; */
    margin: 25px 0px 25px 0px;
}

#about-img {
    width: 500px;
    border-radius: 5px;
}

#about-txt {
    width: 750px;
    margin-top: 10px;
}

#about-txt h2 {
    font-size: 32px;
    text-align: center;
}

#about-txt p {
    margin-top: 10px;
    line-height: 30px;
    text-align: center;
    font-size: 18px;
}

#location-cut {
    font-size: 28px;
    text-align: center;
}

#locations {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 0px 50px 0px 50px;
}

#locations footer {
    font-size: 42px;
    color: #fff;
    position: relative;
    top: 300px;
    background-color: rgba(0, 0, 0, 0.75);
    height: 50px;
    width: 100%;
    padding-left: 10px;
}

.location-box {
    width: 300px;
    height: 350px;
    margin: 25px 0px 50px 0px;
    border-radius: 15px;
    align-content: flex-end;
    box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.75);
}

.location-box:hover {
    filter: brightness(60%);
    cursor: pointer;
    box-shadow: 5px 5px 10px 3.5px rgba(0, 0, 0, 0.85);
}

#charlotte {
    background-image: url(../assets/charlotte.jpg);
    overflow: hidden;
}

#nyc {
    background-image: url(../assets/nyc.jpg);
    overflow: hidden;
}

#san-francisco {
    background-image: url(../assets/san-francisco.jpg);
    overflow: hidden;
}

#chicago {
    background-image: url(../assets/chicago.jpg);
    overflow: hidden;
}

#callnow {
    background: url(../assets/corv.jpg) no-repeat;
    background-size: 100%;
    height: 75vh;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.callnow-content {
    margin: 10px 0px 10px 0px;
}

#callnow h4 {
    font-size: 48px;
    margin-top: 100px;
}

#callnow p {
    font-size: 26px;
    width: 700px;
}

#callnow h5 {
    font-size: 36px;
    color: yellow;
}

#callnow h5:hover {
    color: white;
}

.callnow-btn {
    border: 1px solid rgb(0, 0, 0);
    background: rgb(255, 255, 255);
    color: black;
}

.callnow-btn:after {
    background: rgba(0, 0, 0, 0.75);
    opacity: 85%;
    width: 40px;
}

.callnow-btn:hover {
    box-shadow: 0px 0px 6px 0.1px rgba(255, 0, 0, 0.85);
}

#bottom-footer {
    height: 75px;
    background-color: black;
    color: #fff;
    display: flex;
    justify-content: space-between;
}

#h6 {
    line-height: 75px;
    font-size: 28px;
    font-family: 'Italiana', serif;
    position: relative;
    left: 50px;
    color: #fff;
}

.bootom-nav {
    line-height: 75px;
}

#hidden-hr1 {
    display: none;
}

@media screen and (max-width: 1400px) {
    #locations {
        width: 100%;
        margin: 0px auto;
    }
    #container {
        height: 85vh
    }
    #callnow {
        height: 60vh;
    }
    .nav-right {
        margin-right: 20px;
    }
    .nav-right a {
        margin-right: 20px;
    }
    #advert {
        top: 250px;
    }
}

@media screen and (max-width: 1278px) {
    .nav-right a {
        margin-right: 10px;
    }
    #container {
        height: 75vh;
    }
    #advert {
        top: 200px;
        left: 55px;
    }
    #about-img {
        width: 300px;
    }
    #about-txt {
        width: 500px;
        margin-top: 0px;
    }
    #about-txt h2 {
        font-size: 22px;
    }
    #about-txt p {
        margin-top: 4px;
        line-height: 15px;
        font-size: 14px;
    }
    #locations {
        width: 100%;
        margin: 0px auto;
    }
    .location-box {
        width: 225px;
        height: 275px;
    }
    #locations footer {
        top: 235px;
        font-size: 28px;
    }
    #callnow {
        height: 60vh;
    }
    .callnow-content {
        margin: 4px;
    }
    #callnow h4 {
        margin-top: 40px;
    }
}

@media screen and (max-width: 1025px) {
    #container {
        height: 60vh;
    }
    #main-nav {
        height: 125px;
        display: flex;
        flex-direction: column;
    }
    #logo-center {
        margin-top: 5px;
    }
    #lux-txt {
        font-size: 38px;
        line-height: 65px;
        margin: 0px 0px 0px 0px;
        float: none;
    }
    .nav-right {
        display: flex;
        justify-content: space-around;
        float: none;
        margin: 0px 0px 20px 0px;    
    }
    .nav-right a {
        margin-right: 20px;
    }
    #advert {
        font-size: 16px;
        top: 100px;
        left: 40px;
    }
    .book-now-btn {
        padding: 6px 12px 6px 12px;
        font-size: 16px;
    }
    #about {
        margin: 25px 25px 25px 25px;
        flex-wrap: wrap;
    }
    #about-txt {
        width: 750px;
    }
    #about-txt h2 {
        font-size: 28px;
    }
    #about-txt p {
        font-size: 22px;
        line-height: 25px;
    }
    #hidden-hr1 {
        display: inline-block;
        width: 100%;
        border: 0.2px solid grey;
    }
    #locations {
        width: 70%;
        margin: 0 auto;
    }
    #locations footer {
        top: 260px;
    }
    .location-box {
        width: 250px;
        height: 300px;
        margin: 0x 5px 5px 5px;
    }
    #callnow {
        height: 50vh;
    }
    .callnow-content {
        margin: 5px;
    }
    #callnow h4 {
        margin-top: 20px;
    }
}

@media screen and (max-width: 885px) {
    #callnow {
        height: 40vh;
    }
    .callnow-content {
        margin: 5px;
    }
    #callnow h4 {
        margin-top: 8px;
        font-size: 34px;
    }
    #callnow p {
        font-size: 20px;
    }
    #callnow h5 {
        font-size: 26px;
    }
    #advert {
        top: 75px;
    }
    #container {
        height: 50vh;
    }
    #container img {
        margin-top: 50px;
    }
}

@media screen and (max-width: 720px) {
    #advert {
        display: none;
    }
    .advert-btn {
        display: none;
    }
    #container {
        height: 40vh;
    }
    #about {
        margin: 25px auto;
        justify-content: center;
    }
    #locations {
        width: 75%;
        margin: 0 auto;
    }
    #locations footer {
        top: 210px;
        font-size: 26px;
    }
    .location-box {
        width: 200px;
        height: 250px;
        margin-bottom: 2px;
    }
    #callnow {
        height: 30vh;
        margin-top: 25px;
    }
    .callnow-content {
        margin: 10px;
    }
    #callnow h4 {
        margin-top: 10px;
        font-size: 42px;
    }
    #callnow p {
        display: none;
    }
    #callnow h5 {
        font-size: 38px;
    }
    #h6 {
        left: 25px;
    }
}

@media screen and (max-width: 560px) {
    .nav-right a {
        margin-right: 5px;
        font-size: 14px;
    }
    .book-now-btn {
        padding: 4px 8px 4px 8px;
        font-size: 12px;
    }
    .dropdown {
        margin-top: -5.1px;
    }
    #about {
        margin: 0px 0px 10px 0px;
    }
    #about-img {
        width: 250px;
    }
    #about-txt {
        width: 400px;
    }
    #callnow {
        height: 20vh;
        margin-top: 25px;
    }
    .callnow-content {
        margin: 10px;
    }
    #callnow h4 {
        margin-top: 4px;
        font-size: 20px;
    }
    #callnow p {
        display: none;
    }
    #callnow h5 {
        font-size: 18px;
    }
    .down-icon3 {
        font-size: 9px;
    }
}